body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #D8E5F6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(232, 239, 239);
    padding: 30px;
    padding-top: 60px;
    width: 230px;
    height: 300px;
    margin-top: 40px;
    border-radius: 30px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo-img {
    background-color: rgb(232, 239, 239);
    color: blue;
    width: 90px;

}

.heading {
    display: flex;
    flex-direction: column;
    padding-left: 40px;

}

.social-medias {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100px;
    margin-left: 70px;

}

.search {
    margin-top: 30px;
}

.search-button {
    background-color: white;
    margin-left: 30px;
    border: 2px none;
    border-radius: 20px;
    width: 160px;
    height: 35px;
    margin-top: 20px;

}

.facebook-logo,
.twitter-logo,
.instergram-logo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 15px;
    background-color: inherit;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: Roboto;
    margin-bottom: 0px;
}

h3 {
    font-weight: lighter;
    margin-top: 0px;
    margin-left: 15px;
    font-size: 15px;
}